---
import Base from "../layouts/Base.astro";
import AboutProfile from "../components/AboutProfile.astro";
import "../styles/about.scss";
---

<Base title="Homepage">
    <div class="about-container">
        <AboutProfile name="Drake" description="original / host, programmer (mostly rust), occasional writer" />
        <AboutProfile name="Inky" description="I don't know what I want to put here for now, so enjoy this." />
        <AboutProfile name="Serial Designation N" displayName="N" description="hiiiiiiiiii! i think i'm cool!!!! :3" />
        <AboutProfile name="V1" description="singlets are bad. blood is cool. hell is right here." />
        <AboutProfile name="Fizzarolli" displayName="Fizz" description="hi fuckfaces." />
        <AboutProfile name="Ozzie" description="" />
    </div>
</Base>
