---
import Base from "../layouts/Base.astro";
---

<Base title="Homepage">
    <h1>hi this is our website</h1>
    <span>endo system of 6</span>
    <br />
    <br />
    <span>
        our accounts:<br />
        <ul>
            <li>
                <a href="https://fedi.joeydrew.studio/ruthenic">The Fediverse</a>
            </li>
            <li>
                <a href="https://bsky.app/profile/did:plc:hrqwngkxqcxffdwazjgdcmfk"> Bluesky</a>
            </li>
            <li>
                <a href="https://github.com/Ruthenic">Github</a>
            </li>
            <li>
                <a href="https://git.ruthenic.com/ruthenic"> Self-hosted Git forge</a>
            </li>
            <li>
                <a href="https://apparyllis.com/">Simply Plural</a> (send friend request to <span class="monospace"
                    >DustyAngel47</span
                >)
            </li>
        </ul>
    </span>
</Base>
