---
import Base from "../layouts/BaseFooterless.astro";
---

<Base title="Newtab">
    <style>
        a {
            text-decoration: none;
        }
    </style>
    <a rel="me" href="https://youtube.com">Youtube</a><br />
    <a rel="me" href="https://social.ruthenic.com">Fediverse</a><br />
    <a rel="me" href="https://bsky.app">Bluesky</a><br />
    <a rel="me" href="https://tildes.net/">Tildes</a><br />
    <a rel="me" href="https://git.ruthenic.com">Forgejo</a><br />
    <a rel="me" href="https://github.com">Github</a><br />
    <a rel="me" href="https://archiveofourown.org">AO3</a>
</Base>
